/* 
  Title: style.css
  Author: Hayat Soma
  Date: 07/10/24
  Description: Global CSS 
*/

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 3% 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 5px solid #9c6660;
    overflow-x: hidden;

}

.container {
    width: 100%;
    max-width: 1400px;
}

#about,
#hobby {
    text-align: center;
}

/* ----Header start here -- */
header {
    color: #9c6660;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 12px;
}

.logo h1 {
    font-size: xx-large;
}

header a {
    color: #9c6660;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: #9c6660;
}

nav ul li a:active {
    color: #d68981;
    font-weight: 600;
}


/* ----start Main -- */
.hero-section {
    display: flex;
    width: 100%;
    padding: 12px 0px;
    gap: 20px;
    justify-content: space-between;
    margin-top: 50px;
}

.hero-txt-cont {
    width: 100%;
}

.hero-txt-pub {
    color: #9c6660;
    font-family: "Inter", sans-serif;
    letter-spacing: 6px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 50px;
}

.hero-txt-name {
    margin-bottom: 30px;
    font-family: "El Messiri", sans-serif;
    letter-spacing: -0.075rem;
    width: 100%;
    font-size: 6vmax;
    line-height: 1.125;
    font-weight: 400;
}

.hero-img-cont {
    width: 100%;
    background: #e5efe7;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 100% 50% 40% 30%;
}

p {
    line-height: 1.2;
}

.hero-list2 {
    margin-top: 20px;
}

.hero-img-cont img {
    width: 100%;

}

.form-cont {
    margin-top: 40px;
}

form {
    display: flex;
    align-items: center;
    gap: 12px;
}

form input {
    padding: 20px 25px;
    border-radius: 50px;
    border: 1px solid silver;
    width: 100%;
}

form button {
    background: #d68981;
    border: none;
    color: white;
    padding: 20px 25px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}



.hero-cards {
    margin-top: 40px;
}

.hero-cards ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.hero-cards ul li {
    background: #e66969;
    border-radius: 12px;
    padding: 5px;
    height: 100%;
    width: 100%;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem #00000073;
    padding-bottom: 1rem;
    background-image: linear-gradient(var(--card-gradient), white max(9.5rem, 27vh));

}

.hero-cards ul li img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: max(10rem, 30vh);
    aspect-ratio: 4/3;
    mix-blend-mode: var(--card-blend-mode);
}

/* --about grid imgs--- */
.grid-container {
    margin: 50px auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1em;
    grid-template-areas:
        'one one two five five'
        'one one three five five'
        'four four four five five'
}

.grid-item {
    border-radius: 1em;
    display: flex;
    min-height: 250px;
    justify-content: center;
    align-items: center;
    color: white;
}

.grid-item:nth-child(1) {
    grid-area: one;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    background-image: linear-gradient(0deg, rgba(19, 49, 71, 1) 0%, rgba(19, 49, 71, 0) 50%, rgba(19, 49, 71, 0.377) 100%), url(../images/mama_minal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item:nth-child(2) {
    grid-area: two;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    background-image: linear-gradient(0deg, rgba(19, 49, 71, 1) 0%, rgba(19, 49, 71, 0) 50%, rgba(19, 49, 71, 0.377) 100%), url(../images/minal\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item:nth-child(3) {
    grid-area: three;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    background-image: linear-gradient(0deg, rgba(19, 49, 71, 1) 0%, rgba(19, 49, 71, 0) 50%, rgba(19, 49, 71, 0.377) 100%), url(../images/mahi\ and\ minal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item:nth-child(4) {
    grid-area: four;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    background-image: linear-gradient(0deg, rgba(19, 49, 71, 1) 0%, rgba(19, 49, 71, 0) 50%, rgba(19, 49, 71, 0.377) 100%), url(../images/mahi2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item:nth-child(5) {
    grid-area: five;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    background-image: linear-gradient(0deg, rgba(19, 49, 71, 1) 0%, rgba(19, 49, 71, 0) 50%, rgba(19, 49, 71, 0.377) 100%), url(../images/mahi_ball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -----hobby addditional-style-- */
.hobby-img {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.hobby-img1 {
    display: flex;
    gap: 10%;
    width: 100%;
    margin-bottom: 20px;
}

.hobby-img1 img {
    width: 45%;
    border-radius: 12px;
    max-height: 250px;
}

.hobby-img2 {
    width: 60%;
}

.hobby-img2 img {
    width: 100%;
    max-height: 400px;
    border-radius: 15px;
}

@media (max-width: 940px) {
    .grid-container {
        grid-template-areas:
            'one one two five five'
            'three three three five five'
            'four four four four four'
    }
}

@media (max-width: 640px) {
    .grid-container {
        grid-template-areas:
            'one one two two two'
            'three three three five five'
            'four four four four four'
    }
}

@media (max-width: 460px) {
    .grid-container {
        grid-template-areas:
            'one'
            'two'
            'three'
            'four'
            'five';
    }
}

.hobby-lists {
    list-style: none;
    padding: 0;
    text-align: left;
    padding-left: 5%;
}

.hobby-lists li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 18px;
    font-size: 16px;
}

.hobby-lists li::before {
    content: "✔";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: 2px solid #e6a3a3;
    /* Border color */
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;

}

/* --footer start here */
footer {
    min-height: 50px;
    margin-top: 20px;
}

/* --Mobile View start here-- */
@media(max-width: 992px) {
    .hero-section {
        display: block;
    }

    .hero-section img {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #hobby .hobby-img {
        background: #00000010;
        flex-direction: column;
        border-radius: 15px;
    }
    .hero-cards ul {
        display: block;
    }
   
    .hero-cards ul li{
        margin-bottom: 20px;
    }
}